    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <div class="row">
                <div class="col-lg-12">
                  <h2>클래스프렙은?</h2>
                  <br/>
                    <p>
                      클래스에 참여하는 사람들간의 집단지성을 활용해서 서로의 생각에 피드백을 주며 의견을 공유하는 공간입니다.
                    </p>
                  </div>
                </div>
              </div>
              <br/><br/>
              <div class="row">
                <div class="col-lg-12">
                  <h2>HOW IT WORKS</h2>
                  <br/>
                  <h5>클래스프렙을 통해 누구나 스터디를 개설할 수 있고,이미 개설된 스터디에 참여할 수 있습니다.</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  클래스 진행하기<br/>
                  클래스를 개설<br/>
                  - 클래스 이름, 인원, 정보 등을 입력하여 클래스를 개설하고, 부여 받은 코드를 참여자들에게 공유합니다. (17-XXXXXX)<br/>
                  과제 생성<br/>
                  - 참여자들과 논의하고 싶은 주제를 입력하고, 시간 설정을 합니다.<br/>
                  과제 진행<br/>
                  - 참여자들이 모두 과제를 제출하면, 단계를 변경하여 서로의 의견을 공유합니다.<br/>
                </div>
                <div class="col-md-6">
                  클래스 참여하기<br/>
                  클래스를 검색<br/>
                  - 부여 받은 코드를 입력하여 클래스를 검색합니다.<br/>
                  과제 수행<br/>
                  - 부여받은 과제를 수행합니다. 첨부파일 등을 활용해 작업하실 수 있습니다.<br/>
                  의견 공유<br/>
                  - 다른 참여자들의 의견에 익명으로 피드백과 점수를 남깁니다.<br/>
                  결과 확인<br/>
                  - 자신의 생각 / 평가 / 메타 인지에 대한 점수를 확인합니다.<br/>
                </div>
              </div>
              <br/>
        </div>
    </section>
