<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Keep in Touch:</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

		
		  <style>
    .faq-box{
      padding: 10px;
      border : 1px solid #888;
    }
    label{
      font-size:16px;
      cursor:pointer;
    }
  </style>
		<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <!-- FAQ start -->
  <div class="faq-box">
    <label data-toggle="collapse" data-target="#q1">Q1</label>
    <div id="q1" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <!-- FAQ stop -->

  <!-- FAQ start -->
  <div class="faq-box">
    <label data-toggle="collapse" data-target="#q2">Q2</label>
    <div id="q2" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <!-- FAQ stop -->

  <!-- FAQ start -->
  <div class="faq-box">
    <label data-toggle="collapse" data-target="#q3">Q3</label>
    <div id="q3" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <!-- FAQ stop -->
</div>
		
		
		
	</div>
</section>
<!-- /.banner -->
