<style>
  .row .box{
    display : table;
    min-height : 200px;
    width : 100%;
    margin : 10px;
    border : 3px solid #fff;
    vertical-align: middle;
  }
  .row .box span{
    display : table-cell;
    vertical-align : middle;
    font-size: 30px;
    font-wight : bold;
  }

  .box-rect{
      background-color : #90CAF9;
  }
  .box-circle{
    background-color : #FFC107;
    border-radius : 100%;
  }

  .memo-box{
  z-index:99;
  border : 2px solid #FFF;
}

</style>


    <div class="container">


    </div>
