<style>
  .row .box{
    display : table;
    min-height : 200px;
    width : 100%;
    margin : 10px;
    border : 3px solid #fff;
    vertical-align: middle;
  }
  .row .box span{
    display : table-cell;
    vertical-align : middle;
    font-size: 30px;
    font-wight : bold;
  }

  .box-rect{
      background-color : #90CAF9;
  }
  .box-circle{
    background-color : #FFC107;
    border-radius : 100%;
  }

  .memo-box{
    text-align : left;
  z-index:99;
  border : 2px solid #FFF;
}

</style>

<br>
<br>
<br>
<br>

		<div class="container">


      <div class="starter-template">
        <p class="lead">
          <div class="input-group">
            <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <!-- <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="searchText"> -->
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Search FAQ" ng-model="search">
          </div>
        </p>
        <hr>
        <div class="row">
          <div class="col-md-12" ng-repeat="obj in all | filter:search">
            <div class="memo-box">
              <h3 ng-bind-html="obj.question| to_trusted"></h3>
              <h5 ng-bind-html="obj.answer| to_trusted"></h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
		<!-- /.container -->
